<table>
    <tr>
        <td><code>.Site.BaseURL</code></td>
        <td>{{ .Site.BaseURL }}</td>
        <td></td>
    </tr>

    <tr style="font-size: 2em;"><td>&nbsp;</td><td></td><td></td></tr> <!-- vertical spacer in table -->
    {{ $myRefRel := `images/gopher.png` }}
    <tr>
        <td><code>$myRefRel</code></td>
        <td><b>{{ $myRefRel }}</b></td>
        <td></td>
    </tr>
    <tr>
        <td><code>$myRefRel</code></td>
        <td>{{ $myRefRel }}</td>
        <td>{{ printf `<img src="%s" width="50">` $myRefRel | safeHTML }}</td>
    </tr>
    <tr>
        <td><code>relURL $myRefRel</code></td>
        <td>{{ relURL $myRefRel }}</td>
        <td>{{ printf `<img src="%s" width="50">` (relURL $myRefRel) | safeHTML }}</td>
    </tr>
    <tr>
        <td><code>absURL $myRefRel</code></td>
        <td>{{ absURL $myRefRel }}</td>
        <td>{{ printf `<img src="%s" width="50">` (absURL $myRefRel) | safeHTML }}</td>
    </tr>

    <tr style="font-size: 2em;"><td>&nbsp;</td><td></td><td></td></tr> <!-- vertical spacer in table -->
    {{ $myRefAbs := `/images/gopher.png` }}
    <tr>
        <td><code>$myRefAbs</code></td>
        <td><b>{{ $myRefAbs }}</b></td>
        <td></td>
    </tr>
    <tr>
        <td><code>$myRefAbs</code></td>
        <td>{{ $myRefAbs }}</td>
        <td>{{ printf `<img src="%s" width="50">` $myRefAbs | safeHTML }}</td>
    </tr>
    <tr>
        <td><code>relURL $myRefAbs</code></td>
        <td>{{ relURL $myRefAbs }}</td>
        <td>{{ printf `<img src="%s" width="50">` (relURL $myRefAbs) | safeHTML }}</td>
    </tr>
    <tr>
        <td><code>absURL $myRefAbs</code></td>
        <td>{{ absURL $myRefAbs }}</td>
        <td>{{ printf `<img src="%s" width="50">` (absURL $myRefAbs) | safeHTML }}</td>
    </tr>
</table>
